:root {
  --green: #35654d;
  --title-text: 'Rye', cursive;
  --body-text: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  background-color: var(--green);
  font-family: var(--body-text);
}

.App {
  text-align: center;
}

.table {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.main-title {
  font-family: var(--title-text);
  font-size: 3rem;
  color: white;
}

.blackjack-rules {
  color: white;
}

.card {
  width: 226px
}
