:root {
  --green: #35654d;
  --yellow: #F5F749;
  --title-text: 'Rye', cursive;
  --body-text: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  background-color: var(--green);
  font-family: var(--body-text);
}

.App {
  text-align: center;
}

.table {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.empty-card {
  border: 0.25rem solid;
  width: 113px;
  height: 157px;
  border-radius: 2rem;
  margin: 2rem auto;
}

/* .main-title {
  font-family: var(--title-text);
  font-size: 3rem;
  color: white;
  margin-bottom: 0;
} */

.main-title {
  font-family: var(--title-text);
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  color: white;
  margin-bottom: 0;
}

.blackjack-rules {
  color: white;
  max-width: 900px;
  margin: 0 auto;
}

.rules-step {
  text-align: left;
}

.card {
  height: 200px;
  margin: 0 0.5rem
}

.controls {
  display: flex;
  justify-content: center;
  border: 0.25rem solid;
  width: 60%;
  border-radius: 2rem;
  margin: 2rem auto;
}

.outcome {
  font-family: var(--title-text);
  font-size: 4rem;
  margin: 1rem 0 0 0;
}